

        <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs">
  <li class="active">
    <%= link_to  "General","#home", :data => {:toggle => 'tab'} %>
    </li>
  <li><%= link_to  "Skills","#menu2", :data => {:toggle => 'tab'} %></li>
  <li><a data-toggle="tab" href="#menu3">Settings</a></li>
  <li><a data-toggle="tab" href="#menu4">Password</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
     <%= render 'devise/registrations/general' %>
  </div>
  <div id="menu2" class="tab-pane fade">
    <p>Some content in menu 2.</p>
  </div>
    <div id="menu3" class="tab-pane fade">
    <%= render 'devise/registrations/settings' %>
  </div>

  <div id="menu4" class="tab-pane fade" >
     <%= render 'devise/registrations/password' %>
  </div>
</div>
    </div>
  </div>
</div>
