<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>Sign up</h2>
<hr>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fullname, autofocus: true %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

    </div>
  </div>
</div>