<% if activity.trackable %>
    <p><%= link_to activity.owner.fullname, user_path(activity.owner.username) %> is now friends with <%= link_to  activity.recipient.fullname, user_path(activity.recipient.username) %></p>
<% end %>