<div class="well well-sm">
<div class="row">
    <div class="col-md-10">
    <%= icon('comments', 'Chatting with') %> <%= conversation.with(current_user).fullname %>
  </div>
  <div class="col-md-2">
    <%= link_to conversation_path(conversation) do %>
     <%= icon('comment-o', 'View') %>
    <% end %>

     &nbsp <%= icon('clock-o', conversation.created_at.to_date ) %>

  </div>
</div>
</div>