<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Conversations</h3>
  </div>
  <div class="panel-body">
     <%= render @conversations %>
  </div>
</div>
    </div>
  </div>
</div>