<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chatting with <%= @conversation.with(current_user).fullname %></h3>
  </div>
  <div class="panel-body">
     <%= render @conversation.personal_messages %>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
         <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.text_area :body, class: 'form-control', placeholder: 'Type your message' %>
<br>
    <%= f.submit "Send", class: 'btn btn-danger'%>
  <% end %>
      </div>
    </div>
  </div>
</div>