<div class="col-md-4">
	<div class="container">
	<div class="row">
		<div class="col-md-1">
			<%= link_to startup_path(startup) do %>
	 			<%= image_tag startup.logo.url(:thumb), class: 'startup-logo' %>
			<% end %>
		</div>

			<div class="col-md-3">
				<%= link_to startup.name, startup_path(startup), class: 'startup-name' %>
				<p class="startup-details">Founder : <%= startup.user.fullname %></p>
				<p class="startup-details">Founded on : <%= startup.funded_date.to_date %></p>
			</div>
	</div>
</div>
</div>