<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Create Startup</h2>
      <hr>

<%= simple_form_for @startup do |f| %>
  <div class="form-inputs">
    <%= f.input :name, required: false, autofocus: true %>
    <%= f.input :funded_date, required: false %>
    <%= f.input :desc,required: false %>
    <%= f.input :logo, as: :file, label: 'Startup Logo', class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Startup" %>
  </div>
<% end %>

    </div>
  </div>
</div>