<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <div class="media">
                                <div class="media-left">
                                     <%= image_tag @startup.logo.url(:thumb), class: 'startup-logo' %>
                                </div>
                                <div class="media-body">
                                     <h4 class="media-heading user-full-name"> <%= @startup.name %> </h4>
                                      <p class="user-designation">Founded : <%= @startup.funded_date.to_date %> </p>
                                      <span class="user-profile-details">Founder : 
                                          <%= link_to @startup.user.fullname, user_path(@startup.user.username) %>
                                      </span>
                                      <% if current_user.id != @startup.user_id %>

                                        <% if !@inteam.present? %>
                                        <%= link_to  "<i class='fa fa-users'></i> Join".html_safe,{:controller => :startups, :action => :join, :id => @startup.id}, :method => :put, :class => 'btn btn-xs btn-primary pull-right' %>
                                        <% end %>
                                        
                                        <% if !@wish.present? %>
                                        <%= link_to "<i class='fa fa-heart'></i> Wishlist".html_safe , {:controller => :startups, :action => :wishlist, :id => @startup.id} , :method => :put, :class => 'btn btn-xs btn-danger pull-right floating-btn'  %>
                                        <% end %>
                                       <% end %>
                                </div>
                             </div>
                        </div>
                        
                        <div class="panel-body">
                             <%= @startup.desc %>
                        </div>
                    </div>
        </div>
    </div>


        <!-- Team --> 
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <div class="media">
                                <div class="media-body">
                                     <h4 class="media-heading user-full-name"> <%= @startup.name %> Team</h4>
                                </div>
                             </div>
                        </div>
                        
                        <div class="panel-body">
                             <div class="col-md-4">
                                 <%= image_tag @startup.user.avatar.url(:thumb), class: 'founded-startup-logo' %>
                                 <%= link_to @startup.user.fullname, user_path(@startup.user.username) %>
                             </div>
                             <% @members.each do  |m|%>
                                    <% m.users.each do |user| %>
                                        <div class="col-md-4">
                                            <div>
                                             <%= image_tag user.avatar.url(:thumb), class: 'founded-startup-logo' %>
                                             <%= link_to user.fullname, user_path(user.username) %>
                                            </div>
                                        </div>
                                        
                                    <% end %>
                             <% end %>
                        </div>
                    </div>
        </div>
    </div>

</div>

<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>