<%= simple_form_for([@user, @user.works.build]) do |f| %>
  <div class="form-inputs">
        <div><%= f.input :company_name, placeholder: 'Company Name' %></div>
        <div><%= f.input :from %></div>
        <div><%= f.input :to %></div>
      </div>
      <div class="form-actions">
          <%= f.submit "Add Work", class: 'btn btn-danger' %>
      </div>
<% end %>