<hr>
<table class="table table-hover table-bordered">
    <thead>
      <tr class="warning">
        <th>Company Name</th>
        <th>From</th>
        <th>To</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
  <% @works.each do |work| %>

             <tr>
        <td><%= work.company_name %></td>
        <td><%= work.from %></td>
        <td><%= work.to %></td>
        <td>
            <%= link_to work_path(work), method: :delete do %>
                <%= icon('trash') %>
            <% end %>
        </td>
      </tr>
   <% end %>

    </tbody>
  </table>

