<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @work.company_name %>
</p>

<p>
  <strong>From:</strong>
  <%= @work.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @work.to %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
