<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <br>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fullname, required: false %>
    <%= f.input :designation, required: false %>
    <%= f.input :age %>
    <%= f.select(:gender, ['Male','Female'], {}, { :class => 'form-control' }) %>
    <hr>
    <%= f.input :bio %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Save Information", class: 'btn btn-danger' %>
  </div>
<% end %>
<!--- End General -->
</div>
  </div>
</div>