     <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <br>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Password", class: 'btn btn-danger' %>
  </div>
<% end %>
<br>
    </div></div></div>