<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <br>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, required: false %>
    <%= f.input :email %>
    <hr>
    <%= f.input :avatar, as: :file, label: 'Personal Image', class: 'form-control' %>
<hr>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Settings", class: 'btn btn-danger' %>
  </div>
<% end %>
<br>
    </div></div></div>