<div class="col-md-3">
<div class="thumbnail"><br>
<%= link_to user_path(user.username) do %>
	 <%= image_tag user.avatar.url(:thumb), class: 'avatar' %>
<% end %>
<div class="caption">
<h3><%= user.fullname %></h3>
<p>@<%= user.username %></p>
<% if current_user %>
<p><%= action_buttons(user)%></p>
<% end %>
</div>
</div>
</div>