<div class="well">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">General Information</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile Configurations</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Skills & Experience</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Change Password</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
      <%= render 'general' %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <%= render 'settings' %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="messages">
    <div class="container">
      <div class="row">
        <br>
        <div class="col-md-4 col-md-offset-1">
          <h4>Your Skills</h4>
          <hr>
          <%= render 'skills/skills' %>
          </div>
        <div class="col-md-4 col-md-offset-1">
          <h4>Work History</h4>
          <hr>
          <%= render 'works/works' %>
          </div>
      </div>
    </div>
    

  </div>
  <div role="tabpanel" class="tab-pane fade" id="settings">
    <%= render 'password' %>
  </div>
</div>
</div>