<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    </div>
  </div>
</div>