<div class="container">
    <div class="row">
        <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <div class="media">
                                <div class="media-left">
                                     <%= image_tag @user.avatar.url(:thumb), class: 'avatar' %>
                                </div>
                                <div class="media-body">
                                     <h4 class="media-heading user-full-name"> <%= @user.fullname %> </h4>
                                      <p class="user-designation"><%= @user.designation %> </p>
                                     <span class="user-profile-details">Age : <%= @user.age%> Gender : <%= @user.gender %></span>
                                     <% if current_user.id != @user.id %>
                                     <p class="user-profile-details">
                                     <%= link_to  new_personal_message_path(receiver_id: @user.id) do %>
                                        <%= icon('comment', 'Send Message') %>
                                     <% end %>
                                     </p>
                                     <% end %>
                                </div>
                             </div>
                        </div>
                        
                        <div class="panel-body">
                             <%= @user.bio %>
                             <hr>
                             <h4><%= @user.fullname %> Skills</h4>
                             <ol>
                               <% @user.skills.each do |skill| %>
                                 <li><p><%= skill.title %>, <%= skill.exp %> Years </p></li>
                                <% end %>
                             </ol>
                             <hr>
                             <h4><%= @user.fullname %> Work History</h4>
                             <ol>
                               <% @user.works.each do |work| %>
                                 <li><p><%= work.company_name %>, <span class="specific-date">From : <%= work.from %>, To : <%= work.to %></span></p></li>
                                <% end %>
                             </ol>
            
                                
                             

                        </div>

                        <div class="panel-footer">                         
                            <ul class="startup-ul">
                            <% @startups.each do |s| %>
                                <li>
                                <%= link_to startup_path(s) do %>
	 			                    <%= image_tag s.logo.url(:thumb), class: 'founded-startup-logo', 'data-toggle': 'tooltip', 'data-placement':'top' ,title: "Founder of : " +s.name %>
			                    <% end %>
                                </li>
                            <% end %>
                            </ul>
                    
                        </div>
                    </div>
        </div>
        <div class="col-md-4">
		    <div class="panel panel-default">
		            <div class="panel-heading">Recent Activity</div>
		            <div class="panel-body">
		                	<%= render_activities(@activities) %>
		            </div>
		    </div>

            <% if current_user.id == @user.id  %>
            <div class="panel panel-default">
		            <div class="panel-heading">Pending Startup Joining Request</div>
		            <div class="panel-body">
		                	<% @joinrequests.each do |request| %>
                                <% request.each do |r| %>
                                    <% r.users.each do |m| %>
                                        <span class="label label-default"><%= r.status %></span> <%= m.fullname %>
                                        <%= link_to "confirm", {:controller => :users, :action => :confirm, :id => m.id}, :method => :put  %>
                                     <hr>
                                    <% end %>
                                <% end %>
                            <% end %>
		            </div>
		    </div>
            <% end %>

        </div>
    </div>
</div>

<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>