<%= simple_form_for([@user, @user.skills.build]) do |f| %>
  <div class="form-inputs">
        <div><%= f.input :title, placeholder: 'Skill Title' %></div>
        <div><%= f.input :exp, placeholder: '0' %></div>
      </div>
      <div class="form-actions">
          <%= f.submit "Add Skill", class: 'btn btn-danger' %>
      </div>
<% end %>