<hr>
<table class="table table-hover table-bordered">
    <thead>
      <tr class="warning">
        <th>Skill</th>
        <th>Experience</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
  <% @skills.each do |skill| %>

             <tr>
        <td><%= skill.title %></td>
        <td><%= skill.exp %> Years</td>
        <td>
            <%= link_to skill_path(skill), method: :delete do %>
                <%= icon('trash') %>
            <% end %>
        </td>
      </tr>
   <% end %>

    </tbody>
  </table>
