<div class="container">
    <div class="row">
        <div class="col-md-12">
           <div class="jumbotron">
                <h1>Welcome To <strong style="color: #CCC953; ">IO Startups</strong></h1>
                <p>Explore startups, Connect with motivated people, Share interest & more . .</p>
                <% if !user_signed_in? %>
                <%= link_to 'Join us now', new_user_path, class: 'btn btn-danger' %>
                <% end %>
           </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Startups</h3>
  </div>
  <div class="panel-body">
    <%= render @startups %>
  </div>
</div>

<hr>

<h3>Joined Recently</h3>
<br>
    <%= render @users %>



        </div>
    </div>
</div>