<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Your Interest List</h3>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                   <thead>
                        <tr class="danger">
                            <th>Startup</th>
                            <th>Date</th>
                            <th>Option</th>
                        </tr>
                   </thead>
                   
                   <tbody>
                       <% @interests.each do |i| %>
                        <tr>
                             <td>
                                 <%= link_to i.startup.name, startup_path(i.startup) %>
                             </td>
                             <td><%= i.created_at.to_date %></td>
                             <td>
                                 <%= link_to interest_path(i), method: :delete  do %>
                                    <%= icon('trash',title: 'Remove') %>
                                 <% end %>
                             </td>
                        </tr>
                       <% end %>
                   </tbody>
            </table>
            </div>
        </div>
    </div>
</div>