<div class="well well-sm">
  <div class="row">
    <div class="col-md-10">
      <p><%= personal_message.body %></p>
    </div>

    <div class="col-md-2">
      <p style="font-size: 10px !Important; color: #BA4656;">
  <%= icon('user') %>  <%= personal_message.user.fullname %>
   &nbsp
  <%= icon('clock-o') %> <%= personal_message.created_at.to_date %>


</p>
    </div>
  </div>
</div>
