
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
         <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'receiver_id', @receiver.id %>
    <%= f.text_area :body, class: 'form-control', placeholder: 'Type your message' %>
<br>
    <%= f.submit "Send", class: 'btn btn-danger'%>
  <% end %>
      </div>
    </div>
  </div>
</div>