/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Play|Revalia');


$main-red-color : #D6485B;
$dark-red-color : #BA4656;
$white-color : #F9F9F9; 
$yellow-color : #CCC953; 
$black-color : #373838;

html, body{
    background-color: $white-color;
    color: $black-color;
    font-family: 'Play', sans-serif;
}

.specific-date{
    color: $yellow-color !Important; 
    font-weight: 600;
    font-size:12px !Important;
}

.navbar ul{
    margin: 0 auto;
    padding: 0;
}

.navbar-brand {
    color: $main-red-color !Important;
    font-size: 18px;
    font-family: 'Revalia', cursive;
}

.navbar-brand:hover {
    color: $yellow-color !Important;
}

.navbar ul li a {
    font-size: 14px;
    color: $black-color !Important;
}
.navbar ul li a:hover {
    color: $yellow-color !Important;
}

.fa {
    font-size: 16px !Important;
}

.avatar{
    border-radius: 50%;
    border: $black-color 1px solid;
    width: 75px !Important;
}

.startup-logo {
    border-radius: 50%;
    border: $black-color 1px solid;
    width: 75px !Important;
    margin: 0 auto !Important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-details-main {
    margin: 0 auto !Important;
    position: relative;
    align-items: center;    
}

.profile-details-main img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.user-full-name{
    color: $main-red-color !Important;
}

.user-designation {
    margin-bottom:2px !Important;
}

.user-profile-details {
    font-size: 12px !Important;
}

.startup-background{
background: url(image_path('startup1.jpg')) no-repeat center center;
background-size: cover;
height: 250px !Important;
}

.startup-name{
    color: $dark-red-color !Important;
    font-size: 18px !Important; 
    font-weight: bold;
}

.startup-details {
    font-size: 12px !Important;
    margin: 0 auto !Important;
}

.startup-founded {
    color: $yellow-color !Important;
}

.startup-founded:hover {
            color: $main-red-color !Important;
            
}

.startup-ul{
padding-top:0;
padding-bottom: 25px;
padding-left:0;

}

.startup-ul li {
  display: inline;
  padding-right: 10px;  
  float: left;
}

.founded-startup-logo {
    width: 35px;
     border-radius: 50%;
    border: $black-color 1px solid;
}

.floating-btn {
    margin-right: 5px !Important;
}