   <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
             <li>
              <%= link_to new_user_path do %>
                <%= icon('certificate', 'Join Us NOW') %>
              <% end %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to  new_user_session_path do %>
                <%= icon('sign-in','Login') %>
              <% end %>
            </li>
         </ul>
        </div><!-- /.navbar-collapse -->