   <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
             <li>
              <%= link_to user_path(current_user.username) do %>
                <%= icon('user-circle', current_user.username) %>
              <% end %>
            </li>
             <li>
              <%= link_to connections_path do %>
                <%= icon('group', 'Connections') %>
              <% end %>
            </li>
             <li>
              <%= link_to startups_path do %>
                <%= icon('diamond', 'Startups') %>
              <% end %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to  conversations_path do %>
                <%= icon('comments','Messages') %>
              <% end %>
            </li>
            <li>
              <%= link_to  interests_path do %>
                <%= icon('heart','Interest List') %>
              <% end %>
            </li>
              <li class="dropdown">
                <%= link_to  "#", class: 'dropdown-toggle', 'data-toggle': 'dropdown', 'aria-haspopup': 'true' do %>
                  <%= icon('cog', 'Settings') %>
                <% end %>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to edit_user_path(current_user.id) do  %>
                      <%= icon('list-alt', 'Edit Profile') %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to connections_path do %>
                      <%= icon('tasks', 'Manage Connections') %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_startup_path do  %>
                      <%= icon('clone', 'Create Startup Profile') %>
                    <% end %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <%= icon('sign-out', 'Logout') %>
                    <% end %>
                  </li>
                </ul>
              </li>
         </ul>
        </div><!-- /.navbar-collapse -->